# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.WebContainers.iml
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../:\Projects\dotnet\WebContainers\.idea\.idea.WebContainers\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
